<div class = "center">
<h1> Users index </h1>
  <% @users.each do |user| %>
    <hr /><h3>
      <%= user.first_name %> <%= user.last_name %>
    </h3>
    <h5>User: <%= user.description %></h5>
    <%= link_to 'Show User', user_path(user) %> 
  <% end %>
</div>

