
<header>
  <h1>Dating: Create New Interests</h1>
  <p class='options'><%= link_to 'Home', root_path %>
</header>

<%= render partial: 'interests/interestform' %>
<!-- <ECHO= render 'interestform' %> -->
