body {
  background-color: #0d47a1;
}
// navbar
.hmenu {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
.head-info {
  margin-bottom: 0 !important;
}
//
.show-prof a {
  margin-top: 0 !important;
}
#show-prof {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
#show-prof a {
  color: white !important;
  font-size: 150%;
}

#show-user a {
  color: white !important;
  font-size: 100%;
}

#upvote a {
  color: white !important;
}

#downvote a {
  color: white !important;
}

.back-to-index a{
  color: white !important;
}

.add-interests a {
  color: white !important;
}
// @keyframes example {
//     from {background-color: red;}
//     to {background-color: yellow;}
// }
//
// /* The element to apply the animation to */
// div {
//     width: 100px;
//     height: 100px;
//     background-color: red;
//     animation-name: switch;
//     animation-duration: 2s;
// }
